<nav class="navbar navbar-expand-lg navbar-light bg-light navbar navbar-dark bg-dark"  >
        <a class="navbar-brand" href="#">GESTION PRODUCT </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link"  routerLinkActive="active"  routerLink="/admin/all-client">Client<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class=" nav-item nav-link"   routerLink="/admin/all-product" routerLinkActive="active">Product</a>
            </li>
            <li class="nav-item">
              <a class=" nav-item nav-link"   routerLink="/admin/all-product-category" routerLinkActive="active">Category Product</a>
            </li>
          </ul>
          <span class="navbar-text">
            
          </span>
        </div>
      </nav>